[requires]
python_version = "3.7"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
discord-py = "*"
nltk = "*"
mastermind = {editable = true, git = "https://<uname>:<pass>@github.com/evan-gordon/mastermind.git"}